@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
/* Color */ /* Banner */
.banner {
  max-width: 100%;
  padding: 0;
  margin: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #de5d5d;
}
.banner .banner--slider {
  width: 100%;
  padding: 0;
  position: relative;
  /* Slider Dots setting`s */
  /* Banner Element setting`s */
}
.banner .banner--slider .banner--slider-element-img {
  max-width: 100%;
  height: auto;
}
.banner .banner--slider .slick-list {
  overflow: hidden;
}
.banner .banner--slider .slick-dots {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 5.5%;
  right: 50%;
  padding: 0;
  margin-right: -24px;
}
.banner .banner--slider .slick-dots li {
  list-style: none;
  margin: 0 0.245em;
}
.banner .banner--slider .slick-dots button {
  font-size: 0;
  padding: 0;
  width: 12px;
  height: 12px;
  border: 2px solid white;
  background-color: transparent;
  border-radius: 50%;
}
.banner .banner--slider .slick-active button {
  background-color: white;
}
.banner .banner--slider .banner--slider-element {
  width: 100%;
  padding: 0 15px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .banner--slider .banner--slider-element .banner--slider-element-caption {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 28%;
  padding-right: 18px;
}
.banner .banner--slider .banner--slider-element .banner--slider-element-caption .banner--slider-element-caption-title {
  font: 600 90px "Montserrat", sans-serif;
  letter-spacing: -0.015em;
  color: white;
  margin-bottom: 4.5rem;
}
.banner .banner--slider .banner--slider-element .banner--slider-element-caption .banner--slider-element-caption-btn {
  display: flex;
  flex-direction: row;
}
.banner .banner--slider .banner--slider-element .banner--slider-element-caption .banner--slider-element-caption-btn .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
  color: #ffffff;
  font-family: "Varela Round", sans-serif;
  font-size: 30px;
  font-weight: 400;
  width: 257px;
  height: 77px;
  border-radius: 5px;
  border: 3px solid white;
}
.banner .banner--slider .banner--slider-element .banner--slider-element-caption .banner--slider-element-caption-btn .btn:hover {
  background-color: rgba(222, 93, 93, 0.5);
}
.banner .banner--slider .banner--slider-element .banner--slider-element-caption .banner--slider-element-caption-btn .btn .banner--slider-element-caption-btn-img-app {
  margin-right: 14px;
}
.banner .banner--slider .banner--slider-element .banner--slider-element-caption .banner--slider-element-caption-btn .btn .banner--slider-element-caption-btn-img-play {
  margin: 16px 18px 14px 3px;
}

/* Adaptive for banner */
@media (max-width: 1200px) {
  .banner .banner--slider .banner--slider-element .banner--slider-element-caption .banner--slider-element-caption-title {
    font-size: 75px;
    margin-bottom: 4rem;
  }
  .banner .banner--slider .banner--slider-element .banner--slider-element-caption .banner--slider-element-caption-btn .btn {
    justify-content: center;
    font-size: 26px;
    width: 217px;
    height: 67px;
  }
  .banner .banner--slider .banner--slider-element .banner--slider-element-caption .banner--slider-element-caption-btn .btn .banner--slider-element-caption-btn-img-app {
    width: 42px;
    height: 42px;
    margin-right: 9px;
  }
  .banner .banner--slider .banner--slider-element .banner--slider-element-caption .banner--slider-element-caption-btn .btn .banner--slider-element-caption-btn-img-play {
    width: 32px;
    height: 37px;
    margin: 11px 13px 9px 3px;
  }
}
@media (max-width: 992px) {
  .banner .banner--slider .banner--slider-element .banner--slider-element-caption {
    padding: 0;
  }
  .banner .banner--slider .banner--slider-element .banner--slider-element-caption .banner--slider-element-caption-title {
    font-size: 60px;
    margin-bottom: 2.5rem;
  }
  .banner .banner--slider .banner--slider-element .banner--slider-element-caption .banner--slider-element-caption-btn .btn {
    margin: 0 12px;
    font-size: 22px;
    width: 197px;
    height: 57px;
  }
  .banner .banner--slider .banner--slider-element .banner--slider-element-caption .banner--slider-element-caption-btn .btn .banner--slider-element-caption-btn-img-app {
    width: 35px;
    height: 35px;
    margin-right: 6px;
  }
  .banner .banner--slider .banner--slider-element .banner--slider-element-caption .banner--slider-element-caption-btn .btn .banner--slider-element-caption-btn-img-play {
    width: 27px;
    height: 32px;
    margin: 9px 11px 7px 1px;
  }
}
@media (max-width: 768px) {
  .banner .banner--slider .slick-dots {
    margin-bottom: 0;
    bottom: 5.5%;
    margin-right: -24px;
  }
  .banner .banner--slider .slick-dots li {
    list-style: none;
    margin: 0 0.245em;
  }
  .banner .banner--slider .slick-dots button {
    font-size: 0;
    width: 10px;
    height: 10px;
    border: 2px solid white;
  }
  .banner .banner--slider .slick-active button {
    background-color: white;
  }
  .banner .banner--slider .banner--slider-element .banner--slider-element-caption .banner--slider-element-caption-title {
    font-size: 45px;
    margin-bottom: 2rem;
  }
  .banner .banner--slider .banner--slider-element .banner--slider-element-caption .banner--slider-element-caption-btn .btn {
    padding: 0;
    font-size: 0;
    width: 60px;
    height: 60px;
    border: 2px solid white;
  }
  .banner .banner--slider .banner--slider-element .banner--slider-element-caption .banner--slider-element-caption-btn .btn .banner--slider-element-caption-btn-img-app {
    width: 35px;
    height: 35px;
    margin: 0;
  }
  .banner .banner--slider .banner--slider-element .banner--slider-element-caption .banner--slider-element-caption-btn .btn .banner--slider-element-caption-btn-img-play {
    width: 30px;
    height: 32px;
    margin: 0;
  }
}
@media (max-width: 667px) {
  .banner .banner--slider .banner--slider-element .banner--slider-element-caption .banner--slider-element-caption-title {
    font-size: 40px;
    margin-bottom: 1rem;
  }
  .banner .banner--slider .banner--slider-element .banner--slider-element-caption .banner--slider-element-caption-btn .btn {
    margin: 0 9px;
    width: 50px;
    height: 50px;
  }
  .banner .banner--slider .banner--slider-element .banner--slider-element-caption .banner--slider-element-caption-btn .btn .banner--slider-element-caption-btn-img-app {
    width: 30px;
    height: 30px;
    margin: 0;
  }
  .banner .banner--slider .banner--slider-element .banner--slider-element-caption .banner--slider-element-caption-btn .btn .banner--slider-element-caption-btn-img-play {
    width: 25px;
    height: 27px;
    margin: 0;
  }
}
@media (max-width: 520px) {
  .banner .banner--slider .slick-dots button {
    width: 8px;
    height: 8px;
    border: 1.5px solid white;
  }
  .banner .banner--slider .slick-active button {
    background-color: white;
  }
  .banner .banner--slider .banner--slider-element .banner--slider-element-caption .banner--slider-element-caption-title {
    font-size: 30px;
    margin-bottom: 1rem;
  }
  .banner .banner--slider .banner--slider-element .banner--slider-element-caption .banner--slider-element-caption-btn .btn {
    margin: 0 6px;
    width: 40px;
    height: 40px;
  }
  .banner .banner--slider .banner--slider-element .banner--slider-element-caption .banner--slider-element-caption-btn .btn .banner--slider-element-caption-btn-img-app {
    width: 25px;
    height: 25px;
    margin: 0;
  }
  .banner .banner--slider .banner--slider-element .banner--slider-element-caption .banner--slider-element-caption-btn .btn .banner--slider-element-caption-btn-img-play {
    width: 20px;
    height: 22px;
    margin: 0;
  }
}
@media (max-width: 440px) {
  .banner .banner--slider .banner--slider-element .banner--slider-element-caption .banner--slider-element-caption-title {
    font-size: 25px;
    margin-bottom: 0.25rem;
  }
  .banner .banner--slider .banner--slider-element .banner--slider-element-caption .banner--slider-element-caption-btn .btn {
    margin: 0 3px;
    width: 30px;
    height: 30px;
    border: 1px solid white;
  }
  .banner .banner--slider .banner--slider-element .banner--slider-element-caption .banner--slider-element-caption-btn .btn .banner--slider-element-caption-btn-img-app {
    width: 20px;
    height: 20px;
    margin: 0;
  }
  .banner .banner--slider .banner--slider-element .banner--slider-element-caption .banner--slider-element-caption-btn .btn .banner--slider-element-caption-btn-img-play {
    width: 15px;
    height: 17px;
    margin: 0;
  }
}
.info {
  width: 100%;
  background-color: #ffffff;
}

.info--container {
  padding: 98px 0;
}
.info--container .info-title {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 500;
  margin-right: 10px;
}
.info--container .info--block {
  margin-top: 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info--container .info--block .info--block-element {
  margin: 0;
  color: #666666;
}
.info--container .info--block .info--block-element img {
  margin-bottom: 38px;
}
.info--container .info--block .info--block-element h3 {
  font-family: "Varela Round", sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding: 0;
  letter-spacing: 1px;
  margin-bottom: 2px;
}
.info--container .info--block .info--block-element p {
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
}
.info--container .info--block .info--block-element:first-child {
  padding-left: 0;
  margin-left: 35px;
}
.info--container .info--block .info--block-element:first-child img {
  margin-left: 15px;
}
.info--container .info--block .info--block-element:last-child {
  margin-right: 50px;
}

/* Adaptive for info-block */
@media (min-width: 320px) {
  .info--container {
    padding: 38px 0;
  }
  .info--container .info-title {
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    font-weight: 500;
    margin-right: 0;
  }
  .info--container .info--block {
    margin-top: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .info--container .info--block .info--block-element {
    margin: 0;
    color: #666666;
  }
  .info--container .info--block .info--block-element img {
    width: 160px;
    height: 160px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .info--container .info--block .info--block-element h3 {
    font-family: "Varela Round", sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 0 45px;
    letter-spacing: 1px;
    margin-bottom: 4px;
  }
  .info--container .info--block .info--block-element p {
    font-family: "Varela Round", sans-serif;
    font-size: 10px;
    line-height: 1;
    width: 219px;
    margin: 0 auto;
  }
  .info--container .info--block .info--block-element:first-child {
    padding-left: 15px;
    margin-left: 0;
  }
  .info--container .info--block .info--block-element:first-child img {
    margin-left: 0;
  }
  .info--container .info--block .info--block-element:last-child {
    margin-top: 0;
    margin-right: 0;
  }
}
@media (min-width: 768px) {
  .info--container {
    max-width: 720px;
    padding: 52px 0;
  }
  .info--container .info-title {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 500;
    margin-right: 6px;
  }
  .info--container .info--block {
    margin-top: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .info--container .info--block .info--block-element {
    margin: 0;
    color: #666666;
  }
  .info--container .info--block .info--block-element img {
    width: 180px;
    height: 180px;
    margin-bottom: 20px;
  }
  .info--container .info--block .info--block-element h3 {
    font-family: "Varela Round", sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 0;
    letter-spacing: 1px;
    margin-bottom: 2px;
  }
  .info--container .info--block .info--block-element p {
    font-family: "Varela Round", sans-serif;
    font-size: 12px;
    line-height: 1;
    width: auto;
    padding: 0 30px;
    margin: 0;
  }
  .info--container .info--block .info--block-element:first-child {
    padding-left: 0;
    margin-left: 0;
  }
  .info--container .info--block .info--block-element:first-child img {
    margin-left: 0;
  }
  .info--container .info--block .info--block-element:last-child {
    margin-top: 45px;
    margin-right: 0;
  }
}
@media (min-width: 992px) {
  .info--container {
    max-width: 960px;
    padding: 68px 0;
  }
  .info--container .info-title {
    font-family: "Montserrat", sans-serif;
    font-size: 38px;
    font-weight: 500;
    margin-right: 6px;
  }
  .info--container .info--block {
    margin-top: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .info--container .info--block .info--block-element {
    margin: 0;
    color: #666666;
  }
  .info--container .info--block .info--block-element img {
    width: 200px;
    height: 200px;
    margin-bottom: 30px;
  }
  .info--container .info--block .info--block-element h3 {
    font-family: "Varela Round", sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 0;
    letter-spacing: 1px;
    margin-bottom: 2px;
  }
  .info--container .info--block .info--block-element p {
    font-family: "Varela Round", sans-serif;
    font-size: 14px;
    line-height: 1.25;
    padding: 0;
    margin: 0;
  }
  .info--container .info--block .info--block-element:first-child {
    padding-left: 0;
    margin-left: 20px;
  }
  .info--container .info--block .info--block-element:first-child img {
    margin-left: 10px;
  }
  .info--container .info--block .info--block-element:last-child {
    margin-top: 0;
    margin-right: 25px;
  }
}
@media (min-width: 1200px) {
  .info--container {
    max-width: 1170px;
    padding: 108px 0 115px 0;
  }
  .info--container .info-title {
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    font-weight: 500;
    margin-top: -8px;
    margin-right: 10px;
  }
  .info--container .info--block {
    margin-top: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .info--container .info--block .info--block-element {
    margin: 0;
    color: #666666;
  }
  .info--container .info--block .info--block-element img {
    width: 229px;
    height: 229px;
    margin-bottom: 38px;
  }
  .info--container .info--block .info--block-element h3 {
    font-family: "Varela Round", sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0;
    letter-spacing: 1px;
    margin-bottom: 2px;
  }
  .info--container .info--block .info--block-element p {
    font-family: "Varela Round", sans-serif;
    font-size: 16px;
    padding: 0;
    line-height: 1.5;
    margin: 0;
  }
  .info--container .info--block .info--block-element:first-child {
    padding-left: 0;
    margin-left: 31px;
  }
  .info--container .info--block .info--block-element:first-child img {
    margin-left: 15px;
  }
  .info--container .info--block .info--block-element:last-child {
    margin-right: 47px;
  }
}