@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  padding: 0 !important;
  display: flex;
  flex-direction: column;
}

/* Color */ /* Banner */
.banner {
  max-width: 100%;
  padding: 0;
  margin: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #de5d5d;
}
.banner .banner--slider {
  width: 100%;
  padding: 0;
  position: relative;
  /* Slider Dots setting`s */
  /* Banner Element setting`s */
}
.banner .banner--slider .banner--slider-element-img {
  max-width: 100%;
  height: auto;
}
.banner .banner--slider .slick-list {
  overflow: hidden;
}
.banner .banner--slider .slick-dots {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 5.5%;
  right: 50%;
  padding: 0;
  margin-right: -24px;
}
.banner .banner--slider .slick-dots li {
  list-style: none;
  margin: 0 0.245em;
}
.banner .banner--slider .slick-dots button {
  font-size: 0;
  padding: 0;
  width: 12px;
  height: 12px;
  border: 2px solid white;
  background-color: transparent;
  border-radius: 50%;
}
.banner .banner--slider .slick-active button {
  background-color: white;
}
.banner .banner--slider .banner--slider-element {
  width: 100%;
  padding: 0 15px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .banner--slider .banner--slider-element .banner--slider-element-caption {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 28%;
  padding-right: 18px;
}
.banner .banner--slider .banner--slider-element .banner--slider-element-caption .banner--slider-element-caption-title {
  font: 600 90px "Montserrat", sans-serif;
  letter-spacing: -0.015em;
  color: white;
  margin-bottom: 4.5rem;
}
.banner .banner--slider .banner--slider-element .banner--slider-element-caption .banner--slider-element-caption-btn {
  display: flex;
  flex-direction: row;
}
.banner .banner--slider .banner--slider-element .banner--slider-element-caption .banner--slider-element-caption-btn .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
  color: #ffffff;
  font-family: "Varela Round", sans-serif;
  font-size: 30px;
  font-weight: 400;
  width: 257px;
  height: 77px;
  border-radius: 5px;
  border: 3px solid white;
}
.banner .banner--slider .banner--slider-element .banner--slider-element-caption .banner--slider-element-caption-btn .btn:hover {
  background-color: rgba(222, 93, 93, 0.5);
}
.banner .banner--slider .banner--slider-element .banner--slider-element-caption .banner--slider-element-caption-btn .btn .banner--slider-element-caption-btn-img-app {
  margin-right: 14px;
}
.banner .banner--slider .banner--slider-element .banner--slider-element-caption .banner--slider-element-caption-btn .btn .banner--slider-element-caption-btn-img-play {
  margin: 16px 18px 14px 3px;
}

/* Adaptive for banner */
@media (max-width: 1200px) {
  .banner .banner--slider .banner--slider-element .banner--slider-element-caption .banner--slider-element-caption-title {
    font-size: 75px;
    margin-bottom: 4rem;
  }
  .banner .banner--slider .banner--slider-element .banner--slider-element-caption .banner--slider-element-caption-btn .btn {
    justify-content: center;
    font-size: 26px;
    width: 217px;
    height: 67px;
  }
  .banner .banner--slider .banner--slider-element .banner--slider-element-caption .banner--slider-element-caption-btn .btn .banner--slider-element-caption-btn-img-app {
    width: 42px;
    height: 42px;
    margin-right: 9px;
  }
  .banner .banner--slider .banner--slider-element .banner--slider-element-caption .banner--slider-element-caption-btn .btn .banner--slider-element-caption-btn-img-play {
    width: 32px;
    height: 37px;
    margin: 11px 13px 9px 3px;
  }
}
@media (max-width: 992px) {
  .banner .banner--slider .banner--slider-element .banner--slider-element-caption {
    padding: 0;
  }
  .banner .banner--slider .banner--slider-element .banner--slider-element-caption .banner--slider-element-caption-title {
    font-size: 60px;
    margin-bottom: 2.5rem;
  }
  .banner .banner--slider .banner--slider-element .banner--slider-element-caption .banner--slider-element-caption-btn .btn {
    margin: 0 12px;
    font-size: 22px;
    width: 197px;
    height: 57px;
  }
  .banner .banner--slider .banner--slider-element .banner--slider-element-caption .banner--slider-element-caption-btn .btn .banner--slider-element-caption-btn-img-app {
    width: 35px;
    height: 35px;
    margin-right: 6px;
  }
  .banner .banner--slider .banner--slider-element .banner--slider-element-caption .banner--slider-element-caption-btn .btn .banner--slider-element-caption-btn-img-play {
    width: 27px;
    height: 32px;
    margin: 9px 11px 7px 1px;
  }
}
@media (max-width: 768px) {
  .banner .banner--slider .slick-dots {
    margin-bottom: 0;
    bottom: 5.5%;
    margin-right: -24px;
  }
  .banner .banner--slider .slick-dots li {
    list-style: none;
    margin: 0 0.245em;
  }
  .banner .banner--slider .slick-dots button {
    font-size: 0;
    width: 10px;
    height: 10px;
    border: 2px solid white;
  }
  .banner .banner--slider .slick-active button {
    background-color: white;
  }
  .banner .banner--slider .banner--slider-element .banner--slider-element-caption .banner--slider-element-caption-title {
    font-size: 45px;
    margin-bottom: 2rem;
  }
  .banner .banner--slider .banner--slider-element .banner--slider-element-caption .banner--slider-element-caption-btn .btn {
    padding: 0;
    font-size: 0;
    width: 60px;
    height: 60px;
    border: 2px solid white;
  }
  .banner .banner--slider .banner--slider-element .banner--slider-element-caption .banner--slider-element-caption-btn .btn .banner--slider-element-caption-btn-img-app {
    width: 35px;
    height: 35px;
    margin: 0;
  }
  .banner .banner--slider .banner--slider-element .banner--slider-element-caption .banner--slider-element-caption-btn .btn .banner--slider-element-caption-btn-img-play {
    width: 30px;
    height: 32px;
    margin: 0;
  }
}
@media (max-width: 667px) {
  .banner .banner--slider .banner--slider-element .banner--slider-element-caption .banner--slider-element-caption-title {
    font-size: 40px;
    margin-bottom: 1rem;
  }
  .banner .banner--slider .banner--slider-element .banner--slider-element-caption .banner--slider-element-caption-btn .btn {
    margin: 0 9px;
    width: 50px;
    height: 50px;
  }
  .banner .banner--slider .banner--slider-element .banner--slider-element-caption .banner--slider-element-caption-btn .btn .banner--slider-element-caption-btn-img-app {
    width: 30px;
    height: 30px;
    margin: 0;
  }
  .banner .banner--slider .banner--slider-element .banner--slider-element-caption .banner--slider-element-caption-btn .btn .banner--slider-element-caption-btn-img-play {
    width: 25px;
    height: 27px;
    margin: 0;
  }
}
@media (max-width: 520px) {
  .banner .banner--slider .slick-dots button {
    width: 8px;
    height: 8px;
    border: 1.5px solid white;
  }
  .banner .banner--slider .slick-active button {
    background-color: white;
  }
  .banner .banner--slider .banner--slider-element .banner--slider-element-caption .banner--slider-element-caption-title {
    font-size: 30px;
    margin-bottom: 1rem;
  }
  .banner .banner--slider .banner--slider-element .banner--slider-element-caption .banner--slider-element-caption-btn .btn {
    margin: 0 6px;
    width: 40px;
    height: 40px;
  }
  .banner .banner--slider .banner--slider-element .banner--slider-element-caption .banner--slider-element-caption-btn .btn .banner--slider-element-caption-btn-img-app {
    width: 25px;
    height: 25px;
    margin: 0;
  }
  .banner .banner--slider .banner--slider-element .banner--slider-element-caption .banner--slider-element-caption-btn .btn .banner--slider-element-caption-btn-img-play {
    width: 20px;
    height: 22px;
    margin: 0;
  }
}
@media (max-width: 440px) {
  .banner .banner--slider .banner--slider-element .banner--slider-element-caption .banner--slider-element-caption-title {
    font-size: 25px;
    margin-bottom: 0.25rem;
  }
  .banner .banner--slider .banner--slider-element .banner--slider-element-caption .banner--slider-element-caption-btn .btn {
    margin: 0 3px;
    width: 30px;
    height: 30px;
    border: 1px solid white;
  }
  .banner .banner--slider .banner--slider-element .banner--slider-element-caption .banner--slider-element-caption-btn .btn .banner--slider-element-caption-btn-img-app {
    width: 20px;
    height: 20px;
    margin: 0;
  }
  .banner .banner--slider .banner--slider-element .banner--slider-element-caption .banner--slider-element-caption-btn .btn .banner--slider-element-caption-btn-img-play {
    width: 15px;
    height: 17px;
    margin: 0;
  }
}
.info {
  width: 100%;
  background-color: #ffffff;
}

.info--container {
  padding: 98px 0;
}
.info--container .info-title {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 500;
  margin-right: 10px;
}
.info--container .info--block {
  margin-top: 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info--container .info--block .info--block-element {
  margin: 0;
  color: #666666;
}
.info--container .info--block .info--block-element img {
  margin-bottom: 38px;
}
.info--container .info--block .info--block-element h3 {
  font-family: "Varela Round", sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding: 0;
  letter-spacing: 1px;
  margin-bottom: 2px;
}
.info--container .info--block .info--block-element p {
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
}
.info--container .info--block .info--block-element:first-child {
  padding-left: 0;
  margin-left: 35px;
}
.info--container .info--block .info--block-element:first-child img {
  margin-left: 15px;
}
.info--container .info--block .info--block-element:last-child {
  margin-right: 50px;
}

/* Adaptive for info-block */
@media (min-width: 320px) {
  .info--container {
    padding: 38px 0;
  }
  .info--container .info-title {
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    font-weight: 500;
    margin-right: 0;
  }
  .info--container .info--block {
    margin-top: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .info--container .info--block .info--block-element {
    margin: 0;
    color: #666666;
  }
  .info--container .info--block .info--block-element img {
    width: 160px;
    height: 160px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .info--container .info--block .info--block-element h3 {
    font-family: "Varela Round", sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 0 45px;
    letter-spacing: 1px;
    margin-bottom: 4px;
  }
  .info--container .info--block .info--block-element p {
    font-family: "Varela Round", sans-serif;
    font-size: 12px;
    line-height: 1;
    width: 219px;
    margin: 0 auto;
  }
  .info--container .info--block .info--block-element:first-child {
    padding-left: 15px;
    margin-left: 0;
  }
  .info--container .info--block .info--block-element:first-child img {
    margin-left: 0;
  }
  .info--container .info--block .info--block-element:last-child {
    margin-top: 0;
    margin-right: 0;
  }
}
@media (min-width: 768px) {
  .info--container {
    max-width: 720px;
    padding: 52px 0;
  }
  .info--container .info-title {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 500;
    margin-right: 6px;
  }
  .info--container .info--block {
    margin-top: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .info--container .info--block .info--block-element {
    margin: 0;
    color: #666666;
  }
  .info--container .info--block .info--block-element img {
    width: 180px;
    height: 180px;
    margin-bottom: 20px;
  }
  .info--container .info--block .info--block-element h3 {
    font-family: "Varela Round", sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 0;
    letter-spacing: 1px;
    margin-bottom: 2px;
  }
  .info--container .info--block .info--block-element p {
    font-family: "Varela Round", sans-serif;
    font-size: 14px;
    line-height: 1;
    width: auto;
    padding: 0 30px;
    margin: 0;
  }
  .info--container .info--block .info--block-element:first-child {
    padding-left: 0;
    margin-left: 0;
  }
  .info--container .info--block .info--block-element:first-child img {
    margin-left: 0;
  }
  .info--container .info--block .info--block-element:last-child {
    margin-top: 45px;
    margin-right: 0;
  }
}
@media (min-width: 992px) {
  .info--container {
    max-width: 960px;
    padding: 68px 0;
  }
  .info--container .info-title {
    font-family: "Montserrat", sans-serif;
    font-size: 38px;
    font-weight: 500;
    margin-right: 6px;
  }
  .info--container .info--block {
    margin-top: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .info--container .info--block .info--block-element {
    margin: 0;
    color: #666666;
  }
  .info--container .info--block .info--block-element img {
    width: 200px;
    height: 200px;
    margin-bottom: 30px;
  }
  .info--container .info--block .info--block-element h3 {
    font-family: "Varela Round", sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0;
    letter-spacing: 1px;
    margin-bottom: 2px;
  }
  .info--container .info--block .info--block-element p {
    font-family: "Varela Round", sans-serif;
    font-size: 16px;
    line-height: 1.25;
    padding: 0;
    margin: 0;
  }
  .info--container .info--block .info--block-element:first-child {
    padding-left: 0;
    margin-left: 20px;
  }
  .info--container .info--block .info--block-element:first-child img {
    margin-left: 10px;
  }
  .info--container .info--block .info--block-element:last-child {
    margin-top: 0;
    margin-right: 25px;
  }
}
@media (min-width: 1200px) {
  .info--container {
    max-width: 1170px;
    padding: 108px 0 115px 0;
  }
  .info--container .info-title {
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    font-weight: 500;
    margin-top: -8px;
    margin-right: 10px;
  }
  .info--container .info--block {
    margin-top: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .info--container .info--block .info--block-element {
    margin: 0;
    color: #666666;
  }
  .info--container .info--block .info--block-element img {
    width: 229px;
    height: 229px;
    margin-bottom: 38px;
  }
  .info--container .info--block .info--block-element h3 {
    font-family: "Varela Round", sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0;
    letter-spacing: 1px;
    margin-bottom: 2px;
  }
  .info--container .info--block .info--block-element p {
    font-family: "Varela Round", sans-serif;
    font-size: 16px;
    padding: 0;
    line-height: 1.5;
    margin: 0;
  }
  .info--container .info--block .info--block-element:first-child {
    padding-left: 0;
    margin-left: 31px;
  }
  .info--container .info--block .info--block-element:first-child img {
    margin-left: 15px;
  }
  .info--container .info--block .info--block-element:last-child {
    margin-right: 47px;
  }
}
.share {
  padding-top: 72px;
  width: 100%;
  background-color: #262626;
}
.share .share--container {
  max-width: 1200px;
  padding: 0 15px;
  color: white;
}
.share .share--container .share--img {
  order: 1;
}
.share .share--container .share--text {
  order: 2;
  padding: 0;
}
.share .share--container .share--text .share--caption {
  padding: 22% 25px 0 5px;
}
.share .share--container .share--text .share--caption .share--caption-title {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 18px;
}
.share .share--container .share--text .share--caption .share--caption-text {
  font-family: "Varela Round", sans-serif;
  color: #aeaeae;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 27px;
  text-align: left;
  padding-right: 15px;
  margin-bottom: 30px;
}
.share .share--container .share--text .share--caption .share--caption-slider {
  padding-top: 22px;
  /* Slider Dots setting`s */
}
.share .share--container .share--text .share--caption .share--caption-slider .share--caption-slider-element {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.share .share--container .share--text .share--caption .share--caption-slider .share--caption-slider-element .share--caption-slider-element-text {
  font-family: "Varela Round", sans-serif;
  color: #aeaeae;
  font-size: 16px;
  font-weight: 400;
  margin-top: -5px;
  padding: 0 30px;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
}
.share .share--container .share--text .share--caption .share--caption-slider .slick-list {
  overflow: hidden;
}
.share .share--container .share--text .share--caption .share--caption-slider .slick-dots {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 0 0;
}
.share .share--container .share--text .share--caption .share--caption-slider .slick-dots li {
  list-style: none;
  margin: 0 0.245em;
}
.share .share--container .share--text .share--caption .share--caption-slider .slick-dots button {
  font-size: 0;
  padding: 0;
  width: 12px;
  height: 12px;
  border: 2px solid white;
  background-color: transparent;
  border-radius: 50%;
}
.share .share--container .share--text .share--caption .share--caption-slider .slick-active button {
  background-color: white;
}

/* Adaptive for share */
@media (max-width: 1200px) {
  .share {
    padding-top: 66px;
  }
  .share .share--container {
    max-width: 992px;
  }
  .share .share--container .share--img img {
    width: 456px;
    height: 613.7px;
  }
  .share .share--container .share--text {
    padding: 0;
  }
  .share .share--container .share--text .share--caption {
    padding: 24% 5px 0 25px;
  }
  .share .share--container .share--text .share--caption .share--caption-title {
    font-size: 44px;
    margin-bottom: 18px;
  }
  .share .share--container .share--text .share--caption .share--caption-text {
    font-size: 16px;
    line-height: 24px;
    padding-right: 15px;
    margin-bottom: 26px;
  }
  .share .share--container .share--text .share--caption .share--caption-slider {
    padding-top: 20px;
    /* Slider Dots setting`s */
  }
  .share .share--container .share--text .share--caption .share--caption-slider .share--caption-slider-element .share--caption-slider-element-text {
    font-size: 15px;
    margin-top: -3px;
    margin-bottom: 0;
    padding: 0 0 0 20px;
    line-height: 20px;
  }
  .share .share--container .share--text .share--caption .share--caption-slider .share--caption-slider-element .share--caption-slider-element-video img {
    width: 130px;
    height: 78px;
  }
  .share .share--container .share--text .share--caption .share--caption-slider .slick-dots {
    padding: 16px 0 0;
  }
  .share .share--container .share--text .share--caption .share--caption-slider .slick-dots li {
    list-style: none;
    margin: 0 0.245em;
  }
  .share .share--container .share--text .share--caption .share--caption-slider .slick-dots button {
    font-size: 0;
    padding: 0;
    width: 12px;
    height: 12px;
    border: 2px solid white;
    background-color: transparent;
    border-radius: 50%;
  }
  .share .share--container .share--text .share--caption .share--caption-slider .slick-active button {
    background-color: white;
  }
}
@media (max-width: 992px) {
  .share {
    padding-top: 56px;
  }
  .share .share--container {
    max-width: 767px;
  }
  .share .share--container .share--img img {
    width: 406px;
    height: 513.7px;
  }
  .share .share--container .share--text {
    padding: 0;
  }
  .share .share--container .share--text .share--caption {
    padding: 25.5% 5px 0 5px;
  }
  .share .share--container .share--text .share--caption .share--caption-title {
    font-size: 40px;
    margin-bottom: 18px;
  }
  .share .share--container .share--text .share--caption .share--caption-text {
    font-size: 16px;
    line-height: 24px;
    padding-right: 15px;
    margin-bottom: 22px;
  }
  .share .share--container .share--text .share--caption .share--caption-slider {
    padding-top: 16px;
    /* Slider Dots setting`s */
  }
  .share .share--container .share--text .share--caption .share--caption-slider .share--caption-slider-element .share--caption-slider-element-text {
    font-size: 13px;
    margin-top: -3px;
    margin-bottom: 0;
    padding: 0 4px 0 12px;
    line-height: 18px;
  }
  .share .share--container .share--text .share--caption .share--caption-slider .share--caption-slider-element .share--caption-slider-element-video img {
    width: 100px;
    height: 63px;
  }
  .share .share--container .share--text .share--caption .share--caption-slider .slick-dots {
    padding: 16px 0 0;
  }
  .share .share--container .share--text .share--caption .share--caption-slider .slick-dots li {
    list-style: none;
    margin: 0 0.245em;
  }
  .share .share--container .share--text .share--caption .share--caption-slider .slick-dots button {
    font-size: 0;
    padding: 0;
    width: 12px;
    height: 12px;
    border: 2px solid white;
    background-color: transparent;
    border-radius: 50%;
  }
  .share .share--container .share--text .share--caption .share--caption-slider .slick-active button {
    background-color: white;
  }
}
@media (max-width: 767px) {
  .share .share--container {
    max-width: 320px;
  }
  .share .share--container .share--img {
    display: flex;
    justify-content: center;
    order: 2;
  }
  .share .share--container .share--img img {
    width: 320px;
    height: 363.7px;
  }
  .share .share--container .share--text {
    order: 1;
  }
  .share .share--container .share--text .share--caption {
    margin: 0 auto 45px;
    padding: 0 15px;
  }
  .share .share--container .share--text .share--caption .share--caption-title {
    font-size: 38px;
  }
  .share .share--container .share--text .share--caption .share--caption-text {
    font-size: 14px;
    line-height: 24px;
    padding-right: 15px;
    margin-bottom: 22px;
  }
  .share .share--container .share--text .share--caption .share--caption-slider {
    padding-top: 16px;
    /* Slider Dots setting`s */
  }
  .share .share--container .share--text .share--caption .share--caption-slider .share--caption-slider-element .share--caption-slider-element-text {
    font-size: 12px;
    margin-top: -3px;
    margin-bottom: 0;
    padding: 0 4px 0 12px;
    line-height: 18px;
  }
  .share .share--container .share--text .share--caption .share--caption-slider .share--caption-slider-element .share--caption-slider-element-video img {
    width: 100px;
    height: 63px;
  }
  .share .share--container .share--text .share--caption .share--caption-slider .slick-dots {
    padding: 16px 0 0;
  }
  .share .share--container .share--text .share--caption .share--caption-slider .slick-dots li {
    list-style: none;
    margin: 0 0.245em;
  }
  .share .share--container .share--text .share--caption .share--caption-slider .slick-dots button {
    font-size: 0;
    padding: 0;
    width: 12px;
    height: 12px;
    border: 2px solid white;
    background-color: transparent;
    border-radius: 50%;
  }
  .share .share--container .share--text .share--caption .share--caption-slider .slick-active button {
    background-color: white;
  }
}
.future {
  padding-top: 50px;
  width: 100%;
  background-color: #313131;
}
.future .future--container {
  max-width: 1200px;
  padding: 0 15px;
  color: white;
}
.future .future--container .future--img img {
  padding-left: 15px;
}
.future .future--container .future--text {
  padding: 0;
}
.future .future--container .future--text .future--caption {
  padding: 19% 15% 0 15px;
  margin-left: 15%;
}
.future .future--container .future--text .future--caption .future--caption-title {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 24px;
}
.future .future--container .future--text .future--caption .future--caption-text {
  font-family: "Varela Round", sans-serif;
  color: #aeaeae;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 27px;
  text-align: left;
  margin-left: 4px;
  padding-right: 30px;
  margin-bottom: 13.5%;
}
.future .future--container .future--text .future--caption .future--caption-slider {
  background-color: white;
  border-radius: 5px;
  width: 470px;
  margin-left: 4px;
  /* Slider Dots setting`s */
}
.future .future--container .future--text .future--caption .future--caption-slider .future--caption-slider-element {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 34px 14px 30px;
}
.future .future--container .future--text .future--caption .future--caption-slider .future--caption-slider-element img {
  width: 89px;
  height: 89px;
  margin-top: -16px;
  margin-right: 32px;
}
.future .future--container .future--text .future--caption .future--caption-slider .future--caption-slider-element .future--caption-slider-element-text {
  padding-top: 16px;
  font-family: "Varela Round", sans-serif;
  color: #666666;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
}
.future .future--container .future--text .future--caption .future--caption-slider .future--caption-slider-element .future--caption-slider-element-text h3 {
  margin-left: -4px;
  font-family: "Montserrat", sans-serif;
  color: #cc5858;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
}
.future .future--container .future--text .future--caption .future--caption-slider .slick-list {
  overflow: hidden;
}
.future .future--container .future--text .future--caption .future--caption-slider .slick-dots {
  display: flex;
  align-items: center;
  padding: 2px 0 18px 30px;
  background-color: #de5d5d;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.future .future--container .future--text .future--caption .future--caption-slider .slick-dots li {
  list-style: none;
  margin: 0 0.245em;
}
.future .future--container .future--text .future--caption .future--caption-slider .slick-dots button {
  font-size: 0;
  padding: 0;
  width: 12px;
  height: 12px;
  border: 2px solid white;
  background-color: transparent;
  border-radius: 50%;
}
.future .future--container .future--text .future--caption .future--caption-slider .slick-active button {
  background-color: white;
}

/* Adaptive for Future */
@media (max-width: 1200px) {
  .future {
    padding-top: 40px;
  }
  .future .future--container {
    max-width: 992px;
    padding: 0 15px;
    color: white;
  }
  .future .future--container .future--img img {
    padding-left: 15px;
  }
  .future .future--container .future--text {
    padding: 0;
  }
  .future .future--container .future--text .future--caption {
    padding: 19% 15% 0 15px;
    margin-left: 15%;
  }
  .future .future--container .future--text .future--caption .future--caption-title {
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 24px;
  }
  .future .future--container .future--text .future--caption .future--caption-text {
    font-family: "Varela Round", sans-serif;
    color: #aeaeae;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 27px;
    text-align: left;
    margin-left: 4px;
    padding-right: 30px;
    margin-bottom: 13.5%;
  }
  .future .future--container .future--text .future--caption .future--caption-slider {
    width: 370px;
    /* Slider Dots setting`s */
  }
  .future .future--container .future--text .future--caption .future--caption-slider .future--caption-slider-element {
    padding: 14px 32px 12px 28px;
  }
  .future .future--container .future--text .future--caption .future--caption-slider .future--caption-slider-element .future--caption-slider-element-text {
    padding-top: 14px;
    font-size: 14px;
    line-height: 20px;
  }
  .future .future--container .future--text .future--caption .future--caption-slider .future--caption-slider-element .future--caption-slider-element-text h3 {
    margin-left: -4px;
    font-size: 16px;
    line-height: 20px;
  }
  .future .future--container .future--text .future--caption .future--caption-slider .slick-dots {
    display: flex;
    align-items: center;
    padding: 2px 0 16px 28px;
    background-color: #de5d5d;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
@media (max-width: 992px) {
  .future {
    padding-top: 35px;
  }
  .future .future--container {
    max-width: 767px;
  }
  .future .future--container .future--text {
    padding: 0;
  }
  .future .future--container .future--text .future--caption {
    padding: 19% 15% 0 15px;
    margin-left: 15%;
  }
  .future .future--container .future--text .future--caption .future--caption-title {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 14px;
  }
  .future .future--container .future--text .future--caption .future--caption-text {
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    margin-left: 2px;
    padding-right: 18px;
    margin-bottom: 6.5%;
  }
  .future .future--container .future--text .future--caption .future--caption-slider {
    width: 290px;
    /* Slider Dots setting`s */
  }
  .future .future--container .future--text .future--caption .future--caption-slider .future--caption-slider-element {
    padding: 8px 26px 6px 22px;
  }
  .future .future--container .future--text .future--caption .future--caption-slider .future--caption-slider-element img {
    width: 69px;
    height: 69px;
    margin-top: -14px;
    margin-right: 22px;
  }
  .future .future--container .future--text .future--caption .future--caption-slider .future--caption-slider-element .future--caption-slider-element-text {
    padding-top: 14px;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 0;
  }
  .future .future--container .future--text .future--caption .future--caption-slider .future--caption-slider-element .future--caption-slider-element-text h3 {
    margin-left: -2px;
    font-size: 16px;
    line-height: 18px;
  }
  .future .future--container .future--text .future--caption .future--caption-slider .slick-dots {
    display: flex;
    align-items: center;
    padding: 2px 0 16px 26px;
    background-color: #de5d5d;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
@media (max-width: 767px) {
  .future {
    padding-top: 35px;
  }
  .future .future--container {
    max-width: 320px;
  }
  .future .future--container .future--img {
    padding: 0;
  }
  .future .future--container .future--img img {
    padding: 0;
  }
  .future .future--container .future--text {
    padding: 0;
  }
  .future .future--container .future--text .future--caption {
    padding: 0;
    margin: 0 auto;
  }
  .future .future--container .future--text .future--caption .future--caption-title {
    font-size: 38px;
    margin: 0 auto;
    padding: 0 15px;
    margin-bottom: 18px;
  }
  .future .future--container .future--text .future--caption .future--caption-text {
    font-size: 14px;
    line-height: 24px;
    margin: 0 auto 8.5% auto;
    padding: 0 15px;
  }
  .future .future--container .future--text .future--caption .future--caption-slider {
    margin: 0 auto;
  }
  .future .future--container .future--text .future--caption .future--caption-slider .slick-list {
    overflow: hidden;
  }
}
.TWA {
  padding-top: 68px;
  width: 100%;
  background-color: white;
}
.TWA__container .TWA__block {
  margin-top: -1px;
  margin-bottom: 3.2%;
}
.TWA__container .TWA__block-information {
  margin-left: 25.35%;
  text-align: left;
}
.TWA__container .TWA__block-information-title {
  color: #f06464;
  font: 600 48px "Montserrat", sans-serif;
  margin-left: -3px;
  margin-bottom: 20px;
}
.TWA__container .TWA__block-information-text {
  color: #666666;
  width: 435px;
  font: 400 18px "Varela Round", sans-serif;
  line-height: 27px;
}
.TWA .TWA__gallery {
  padding: 0;
}
.TWA .TWA__gallery__container {
  display: flex;
}
.TWA .TWA__gallery__container .TWA__gallery__block {
  position: relative;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  flex-direction: column;
}
.TWA .TWA__gallery__container .TWA__gallery__block-photo {
  width: 100%;
  height: 100%;
}
.TWA .TWA__gallery__container .TWA__gallery__block:hover .TWA__gallery__block-photo {
  transform: translateY(-38px);
  transition: transform 0.3s ease;
}
.TWA .TWA__gallery__container .TWA__gallery__block .TWA__gallery__block-response {
  align-items: center;
  background-color: #151515;
  color: #c2c2c2;
  font: 400 18px "Varela Round", sans-serif;
  line-height: 27px;
  display: none;
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 30px 15px;
}
.TWA .TWA__gallery__container .TWA__gallery__block .TWA__gallery__block-response-text {
  margin-bottom: 0;
}
.TWA .TWA__gallery__container .TWA__gallery__block .TWA__gallery__block-response-likes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #f06464;
}
.TWA .TWA__gallery__container .TWA__gallery__block .TWA__gallery__block-response-likes-counter {
  font-family: "Varela Round", sans-serif;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 27px;
  padding-left: 8px;
}
.TWA .TWA__gallery__container .TWA__gallery__block .TWA__gallery__block-response-likes-button {
  -o-object-fit: cover;
  object-fit: cover;
  background-color: transparent;
}
.TWA .TWA__gallery__container .TWA__gallery__block .TWA__gallery__block-response-likes-button .TWA__gallery__block-response-likes-disable {
  display: block;
}
.TWA .TWA__gallery__container .TWA__gallery__block .TWA__gallery__block-response-likes-button .TWA__gallery__block-response-likes-enable {
  display: none;
}
.TWA .TWA__gallery__container .TWA__gallery__block .TWA__gallery__block-response-likes-button.clicked .TWA__gallery__block-response-likes-disable {
  display: none;
}
.TWA .TWA__gallery__container .TWA__gallery__block .TWA__gallery__block-response-likes-button.clicked .TWA__gallery__block-response-likes-enable {
  display: block;
}
.TWA .TWA__gallery__container .TWA__gallery__block:hover .TWA__gallery__block-response {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 1400px) {
  .TWA .TWA__gallery__container .TWA__gallery__block .TWA__gallery__block-response {
    padding: 30px 20px;
  }
}
@media (max-width: 1200px) {
  .TWA {
    padding-top: 64px;
  }
  .TWA .TWA__gallery__container .TWA__gallery__block .TWA__gallery__block-response {
    padding: 20px 8px;
  }
  .TWA .TWA__gallery__container .TWA__gallery__block .TWA__gallery__block-response p {
    font-size: 14px;
  }
  .TWA .TWA__gallery__container .TWA__gallery__block .TWA__gallery__block-response-likes img {
    width: 22px;
    height: 18px;
  }
  .TWA .TWA__gallery__container .TWA__gallery__block .TWA__gallery__block-response-likes-counter {
    font-size: 22px;
    padding-left: 4px;
  }
  .TWA__container .TWA__block {
    margin-bottom: 4%;
  }
  .TWA__container .TWA__block-information {
    margin-left: 22%;
  }
  .TWA__container .TWA__block-information-text {
    font-size: 18px;
  }
}
@media (max-width: 992px) {
  .TWA {
    padding-top: 58px;
  }
  .TWA__container .TWA__block {
    margin-bottom: 4.4%;
  }
  .TWA__container .TWA__block-information {
    margin-left: 20%;
  }
  .TWA__container .TWA__block-information-text {
    font-size: 18px;
  }
  .TWA .TWA__gallery__container {
    flex-wrap: wrap;
  }
  .TWA .TWA__gallery .TWA__gallery__block {
    flex-basis: 50%;
  }
  .TWA .TWA__gallery .TWA__gallery__block .TWA__gallery__block-response {
    padding: 30px 25px;
  }
  .TWA .TWA__gallery .TWA__gallery__block .TWA__gallery__block-response p {
    font-size: 18px;
  }
  .TWA .TWA__gallery .TWA__gallery__block .TWA__gallery__block-response-likes img {
    width: 25px;
    height: 21px;
  }
  .TWA .TWA__gallery .TWA__gallery__block .TWA__gallery__block-response-likes-counter {
    font-size: 24px;
    padding-left: 8px;
  }
}
@media (max-width: 768px) {
  .TWA__container .TWA__block {
    margin-bottom: 5%;
  }
  .TWA__container .TWA__block-information {
    margin-left: 12%;
  }
  .TWA__container .TWA__block-information-title {
    font-size: 38px;
    margin-bottom: 15px;
  }
  .TWA__container .TWA__block-information-text {
    font-size: 16px;
    width: 400px;
  }
}
@media (max-width: 667px) {
  .TWA .TWA__gallery__container .TWA__gallery__block .TWA__gallery__block-response {
    padding: 20px 8px;
  }
  .TWA .TWA__gallery__container .TWA__gallery__block .TWA__gallery__block-response p {
    font-size: 16px;
  }
  .TWA .TWA__gallery__container .TWA__gallery__block .TWA__gallery__block-response-likes img {
    width: 22px;
    height: 18px;
  }
  .TWA .TWA__gallery__container .TWA__gallery__block .TWA__gallery__block-response-likes-counter {
    font-size: 22px;
    padding-left: 4px;
  }
}
@media (max-width: 520px) {
  .TWA .TWA__gallery__container .TWA__gallery__block .TWA__gallery__block-response {
    padding: 18px 8px;
  }
  .TWA .TWA__gallery__container .TWA__gallery__block .TWA__gallery__block-response p {
    font-size: 14px;
  }
  .TWA .TWA__gallery__container .TWA__gallery__block .TWA__gallery__block-response-likes img {
    width: 20px;
    height: 16px;
  }
  .TWA .TWA__gallery__container .TWA__gallery__block .TWA__gallery__block-response-likes-counter {
    font-size: 20px;
    padding-left: 4px;
  }
}
@media (max-width: 480px) {
  .TWA {
    padding-top: 50px;
  }
  .TWA__container {
    max-width: 320px;
  }
  .TWA__container .TWA__block {
    margin: 0 0 10% 0;
  }
  .TWA__container .TWA__block-information {
    margin: 0;
  }
  .TWA__container .TWA__block-information-title {
    font-size: 34px;
    margin-bottom: 14px;
  }
  .TWA__container .TWA__block-information-text {
    font-size: 14px;
    line-height: 24px;
    width: 290px;
  }
  .TWA .TWA__gallery__container .TWA__gallery__block {
    flex-basis: 100%;
  }
  .TWA .TWA__gallery__container .TWA__gallery__block-photo {
    max-width: 100%;
    max-height: 100%;
  }
  .TWA .TWA__gallery__container .TWA__gallery__block .TWA__gallery__block-response {
    padding: 20px 8px;
  }
  .TWA .TWA__gallery__container .TWA__gallery__block .TWA__gallery__block-response p {
    font-size: 16px;
  }
  .TWA .TWA__gallery__container .TWA__gallery__block .TWA__gallery__block-response-likes img {
    width: 22px;
    height: 18px;
  }
  .TWA .TWA__gallery__container .TWA__gallery__block .TWA__gallery__block-response-likes-counter {
    font-size: 22px;
    padding-left: 4px;
  }
}
.CTA {
  padding: 100px 0 109px 0;
  width: 100%;
  background-color: #de5d5d;
}
.CTA__container {
  max-width: 1200px;
  padding: 0 15px;
}
.CTA .CTA__block {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
.CTA .CTA__block .CTA__block-content {
  display: flex;
}
.CTA .CTA__block-logo {
  margin: 124px 17px 0 0;
}
.CTA .CTA__block-information {
  margin: -38px 32px 0 0;
}
.CTA .CTA__block-information-title {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  width: 415px;
}
.CTA .CTA__block-information-text {
  color: #ffffff;
  font-family: "Varela Round", sans-serif;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  padding-top: 6px;
}
.CTA .CTA__block-information-btn {
  display: flex;
  flex-direction: row;
  padding-top: 4.8%;
}
.CTA .CTA__block-information-btn .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: #ffffff;
  font-family: "Varela Round", sans-serif;
  font-size: 30px;
  font-weight: 400;
  width: 257px;
  height: 77px;
  border-radius: 5px;
  border: 3px solid white;
}
.CTA .CTA__block-information-btn .btn:first-of-type {
  margin-right: 15px;
}
.CTA .CTA__block-information-btn .btn:last-of-type {
  margin-left: 15px;
}
.CTA .CTA__block-information-btn .btn:hover {
  background-color: rgba(190, 33, 63, 0.5);
}
.CTA .CTA__block-information-btn .btn .CTA__block-information-btn-img-app {
  margin-right: 14px;
}
.CTA .CTA__block-information-btn .btn .CTA__block-information-btn-img-play {
  margin: 16px 18px 14px 3px;
}

/* Media Queries */
@media (max-width: 1200px) {
  .CTA .CTA__container {
    max-width: 992px;
  }
}
@media (max-width: 992px) {
  .CTA .CTA__container {
    max-width: 768px;
  }
}
@media (max-width: 768px) {
  .CTA .CTA__container {
    max-width: 667px;
  }
}
@media (max-width: 667px) {
  .CTA .CTA__container {
    max-width: 320px;
  }
}