/* Footer */

.footer {
  padding: 66px 0 78px 0;
  width: 100%;
  margin-top: auto;
  background-color: $white;

  .footer__container {
    max-width: 1200px;
    @include aligin-center-flex;
    justify-content: space-between;

    .footer__information {
      order: 1;
      color: $grey;
      margin-top: 3px;
      padding-right: 5px;
      margin-left: -5px;
      font: 600 $fs-medium-small $font-family-title;
      text-align: left;
    }

    .footer__form {
      margin: -10px 4.7% 0 0;
      order: 2;

      .footer__form-label {
        color: $grey;
        font: 400 $fs-base $font-family-base;
        line-height: 24px;
        text-align: left;
        margin-bottom: 15px;
        margin-left: 6px;
      }

      .footer__form-email {
        margin-left: 5px;

        #footer__form-email {
          margin-right: 12px;
          border-radius: 5px;
          border: 1px solid $border-input;
          @include size(311px, 48px);
          padding: 0 15px;

          &::placeholder {
            color: $grey;
            font: 400 $fs-base $font-family-base;
            line-height: 24px;
            text-align: left;
          }

          &:focus {
            box-shadow: $focus-input;

            &::placeholder {
              color: $transparent;
            }
          }
        }

        #footer__form-button {
          @include size(101px, 48px);
          border-radius: 5px;
          background-color: $pink;
          color: $grey-white;
          font: 400 $fs-base $font-family-base;
          line-height: 24px;
        }
      }
    }
  }
}

/* Adaptive for footer */

@media (max-width: 1200px) {
  .footer {
    .footer__container {
      max-width: 992px;
    }
  }
}

@media (max-width: 992px) {
  .footer {
    .footer__container {
      max-width: 768px;

      .footer__information {
        font-size: $fs-base;
      }

      .footer__form {
        .footer__form-label {
          font-size: $fs-smaller;
          line-height: 22px;
        }

        .footer__form-email {
          margin: -6 0 0 0;

          #footer__form-email {
            @include size(270px, 45px);

            &::placeholder {
              font-size: $fs-smaller;
              line-height: 22px;
            }
          }

          #footer__form-button {
            @include size(98px, 45px);
            font-size: 14px;
            line-height: 22px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .footer {
    .footer__container {
      max-width: 320px;
      flex-direction: column;

      .footer__information {
        order: 2;
      }

      .footer__form {
        order: 1;
        margin-bottom: 30px;

        .footer__form-email {
          @include center-flex-column;

          #footer__form-email {
            margin: 0 0 10px 0;
            width: 270px;
          }

          #footer__form-button {
            width: 88px;
          }
        }
      }
    }
  }
}