.header {
  width: 100%;

  .header__navbar {
    background-color: #de5d5d;
    padding: 0;
  }

  .header__container {
    max-width: 1200px;
    padding: 0 15px !important;

    .header-logo {
      color: #ffffff;
      font-family: "Myriad Pro", sans-serif;
      font-size: 52px;
      font-weight: 700;
      font-style: normal;
      letter-spacing: normal;
      padding: 0;
      margin-top: -2px;
      margin-left: -5px;
    }

    .header-burger-menu {

      .header-burger-menu-list {

        .header-burger-menu-list-item {
          padding: 31px 0 20px;
          margin: 0 12.6px;


          &:last-child {
            margin: 0;
          }

          .header-burger-menu-list-link {
            position: relative;
            color: #ffffff;
            font-family: "Varela Round", sans-serif;
            font-size: 18px;
            font-weight: 400;
            letter-spacing: 0.025em;

            &::before {
              content: "";
              position: absolute;
              top: -31px;
              left: 0;
              width: 100%;
              height: 6px;
              background-color: white;
              transform: scaleY(0);
            }

            &:hover::before {
              transform: scaleY(1);
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .header {

    .header__container {
      max-width: 992px;
    }
  }
}

@media (max-width: 992px) {
  .header {

    .header__container {
      max-width: 768px;

      button {
        padding: 15px;

        &:focus {
          border-color: transparent;
        }

        span {
          display: block;
          position: relative;
          height: 2px;
          width: 30px;
          background-color: white;

          &::after, &::before {
            margin-left: -15px;
            content: "";
            position: absolute;
            height: 2px;
            width: 30px;
            background-color: white;
          }

          &::after {
            bottom: 7px;
          }

          &::before {
            top: 7px;
          }
        }
      }

      .header-logo {
        font-size: 48px;
      }

      .header-burger-menu {

        .header-burger-menu-list {
          display: flex;
          justify-content: flex-start;
          margin: 0;


          .header-burger-menu-list-item {
            margin-left: 10px;
            padding: 10px 0;

            &:last-child {
              a {
                margin-left: 10px;
              }
            }

            .header-burger-menu-list-link {
              position: relative;
              display: inline-block;
              font-size: 18px;
              padding: 4px 0;

              &::before {
                content: "";
                position: absolute;
                top: 12px;
                left: -20px;
                width: 12px;
                height: 12px;
                border-radius: 12px;
              }

              &:hover {
                transform: translateX(10px);
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .header {

    .header__container {
      max-width: 667px;

      .header-logo {
        font-size: 42px;
      }

      .header-burger-menu {

        .header-burger-menu-list {

          .header-burger-menu-list-item {
            padding: 6px 0;


            .header-burger-menu-list-link {
              font-size: 16px;
              padding: 4px 0;

              &::before {
                content: "";
                position: absolute;
                top: 10px;
                left: -20px;
                width: 10px;
                height: 10px;
                border-radius: 12px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 667px) {
  .header {

    .header__container {
      max-width: 480px;

      .header-logo {
        font-size: 38px;
      }

      .header-burger-menu {

        .header-burger-menu-list {

          .header-burger-menu-list-item {

            .header-burger-menu-list-link {
              font-size: 16px;
              padding: 4px 0;

            }
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .header {

    .header__container {
      max-width: 320px;
    }
  }
}
