/* Header */

.header {
  width: 100%;

  .header__navbar {
    background-color: $bg-color;
    padding: 0;
  }

  .header__container {
    max-width: 1200px;
    padding: 0 15px !important;

    .header-logo {
      color: $white;
      font: $fs-brand $font-family-header;
      padding: 0;
      margin-top: -2px;
      margin-left: -5px;
    }

    .header-burger-menu {
      .header-burger-menu-list {
        .header-burger-menu-list-item {
          padding: 31px 0 20px;
          margin: 0 12.6px;

          &:last-child {
            margin: 0;
          }

          .header-burger-menu-list-link {
            position: relative;
            color: #ffffff;
            font: 400 $fs-medium-small $font-family-base;
            letter-spacing: 0.025em;

            &::before {
              content: "";
              position: absolute;
              top: -31px;
              left: 0;
              width: 100%;
              height: 6px;
              background-color: $white;
              transform: scaleY(0);
            }

            &:hover::before {
              transform: scaleY(1);
            }
          }
        }
      }
    }
  }
}

/* Adaptive for header */

@media (max-width: 1200px) {
  .header {
    .header__container {
      max-width: 992px;
    }
  }
}

@media (max-width: 992px) {
  .header {
    .header__container {
      max-width: 768px;

      button {
        padding: 15px;

        &:focus {
          border-color: $transparent;
        }

        span {
          display: block;
          position: relative;
          @include size(30px, 2px);
          background-color: white;

          &::after,
          &::before {
            margin-left: -15px;
            content: "";
            position: absolute;
            @include size(30px, 2px);
            background-color: $white;
          }

          &::after {
            bottom: 7px;
          }

          &::before {
            top: 7px;
          }
        }
      }

      .header-logo {
        font-size: $fs-title;
      }

      .header-burger-menu {
        .header-burger-menu-list {
          display: flex;
          justify-content: flex-start;
          margin: 0;

          .header-burger-menu-list-item {
            margin-left: 10px;
            padding: 10px 0;

            &:last-child {
              a {
                margin-left: 10px;
              }
            }

            .header-burger-menu-list-link {
              position: relative;
              display: inline-block;
              font-size: $fs-medium-small;
              padding: 4px 0;

              &::before {
                content: "";
                position: absolute;
                top: 10px;
                left: -20px;
                width: 12px;
                height: 12px;
                border-radius: 12px;
              }

              &:hover {
                transform: translateX(10px);
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    .header__container {
      max-width: 667px;

      .header-logo {
        font-size: $fs-extra-smaller-large;
      }

      .header-burger-menu {
        .header-burger-menu-list {
          .header-burger-menu-list-item {
            padding: 6px 0;

            .header-burger-menu-list-link {
              font-size: $fs-base;
              padding: 4px 0;

              &::before {
                content: "";
                position: absolute;
                top: 8px;
                left: -20px;
                width: 10px;
                height: 10px;
                border-radius: 12px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 667px) {
  .header {
    .header__container {
      max-width: 480px;

      .header-logo {
        font-size: $fs-title-medium-large;
      }

      .header-burger-menu {
        .header-burger-menu-list {
          .header-burger-menu-list-item {
            .header-burger-menu-list-link {
              padding: 4px 0;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .header {
    .header__container {
      max-width: 320px;
    }
  }
}