.TWA {
  padding-top: 68px;
  width: 100%;
  background-color: white;

  &__container {

    .TWA__block {
      margin-top: -1px;
      margin-bottom: 3.2%;

      &-information {
        margin-left: 25.35%;
        text-align: left;

        &-title {
          color: #f06464;
          font: 600 48px "Montserrat", sans-serif;
          margin-left: -3px;
          margin-bottom: 20px;
        }

        &-text {
          color: #666666;
          width: 435px;
          font: 400 18px "Varela Round", sans-serif;
          line-height: 27px;
        }
      }
    }
  }

  .TWA__gallery {
    padding: 0;

    &__container {
      display: flex;

      .TWA__gallery__block {
        position: relative;
        display: flex;
        justify-content: center;
        flex-grow: 1;
        flex-direction: column;

        &-photo {
          width: 100%;
          height: 100%;
        }

        &:hover .TWA__gallery__block-photo {
          transform: translateY(-38px);
          transition: transform 0.3s ease;
        }

        .TWA__gallery__block-response {
          align-items: center;
          background-color: #151515;
          color: #c2c2c2;
          font: 400 18px "Varela Round", sans-serif;
          line-height: 27px;
          display: none;
          width: 100%;
          height: auto;
          position: absolute;
          bottom: 0;
          right: 0;
          padding: 30px 15px;

          &-text {
            margin-bottom: 0;
          }

          &-likes {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            color: #f06464;

            &-counter {
              font-family: "Varela Round", sans-serif;
              font-size: 24px;
              font-weight: 400;
              font-style: normal;
              letter-spacing: normal;
              line-height: 27px;
              padding-left: 8px;
            }

            &-button {
              object-fit: cover;
              background-color: transparent;

              .TWA__gallery__block-response-likes-disable {
                display: block;
              }

              .TWA__gallery__block-response-likes-enable {
                display: none;
              }

              &.clicked {

                .TWA__gallery__block-response-likes-disable {
                  display: none;
                }

                .TWA__gallery__block-response-likes-enable {
                  display: block;
                }
              }
            }
          }
        }

        &:hover .TWA__gallery__block-response {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
        }
      }
    }
  }
}

@media (max-width: 1400px) {
  .TWA {
    .TWA__gallery {
      &__container {
        .TWA__gallery__block {
          .TWA__gallery__block-response {
            padding: 30px 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .TWA {
    .TWA__gallery {
      &__container {
        .TWA__gallery__block {
          .TWA__gallery__block-response {
            padding: 20px 8px;

            p {
              font-size: 14px;
            }

            &-likes {
              img {
                width: 22px;
                height: 18px;
              }

              &-counter {
                font-size: 22px;
                padding-left: 4px;
              }
            }
          }
        }
      }
    }

    padding-top: 64px;

    &__container {
      .TWA__block {
        margin-bottom: 4%;

        &-information {
          margin-left: 22%;

          &-text {
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .TWA {
    padding-top: 58px;

    &__container {
      .TWA__block {
        margin-bottom: 4.4%;

        &-information {
          margin-left: 20%;

          &-text {
            font-size: 18px;
          }
        }
      }
    }
  }

  .TWA {
    .TWA__gallery {
      &__container {
        flex-wrap: wrap;
      }

      .TWA__gallery__block {
        flex-basis: 50%;

        .TWA__gallery__block-response {
          padding: 30px 25px;

          p {
            font-size: 18px;
          }

          &-likes {
            img {
              width: 25px;
              height: 21px;
            }

            &-counter {
              font-size: 24px;
              padding-left: 8px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .TWA {
    &__container {
      .TWA__block {
        margin-bottom: 5%;

        &-information {
          margin-left: 12%;

          &-title {
            font-size: 38px;
            margin-bottom: 15px;
          }

          &-text {
            font-size: 16px;
            width: 400px;
          }
        }
      }
    }
  }
}

@media (max-width: 667px) {
  .TWA {
    .TWA__gallery {
      &__container {
        .TWA__gallery__block {
          .TWA__gallery__block-response {
            padding: 20px 8px;

            p {
              font-size: 16px;
            }

            &-likes {
              img {
                width: 22px;
                height: 18px;
              }

              &-counter {
                font-size: 22px;
                padding-left: 4px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 520px) {
  .TWA {
    .TWA__gallery {
      &__container {
        .TWA__gallery__block {
          .TWA__gallery__block-response {
            padding: 18px 8px;

            p {
              font-size: 14px;
            }

            &-likes {
              img {
                width: 20px;
                height: 16px;
              }

              &-counter {
                font-size: 20px;
                padding-left: 4px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .TWA {
    padding-top: 50px;

    &__container {
      max-width: 320px;

      .TWA__block {
        margin: 0 0 10% 0;

        &-information {
          margin: 0;

          &-title {
            font-size: 34px;
            margin-bottom: 14px;
          }

          &-text {
            font-size: 14px;
            line-height: 24px;
            width: 290px;
          }
        }
      }
    }
  }
  .TWA {
    .TWA__gallery {
      &__container {
        .TWA__gallery__block {
          flex-basis: 100%;

          &-photo {
            max-width: 100%;
            max-height: 100%;
          }

          .TWA__gallery__block-response {
            padding: 20px 8px;

            p {
              font-size: 16px;
            }

            &-likes {
              img {
                width: 22px;
                height: 18px;
              }

              &-counter {
                font-size: 22px;
                padding-left: 4px;
              }
            }
          }
        }
      }
    }
  }
}