.TWA {
  padding-top: 68px;
  width: 100%;
  background-color: white;

  &__container {

    .TWA__block {
      margin-bottom: 3.3%;

      &-information {
        margin-left: 22.5%;

        &-title {
          color: #f06464;
          font: 600 48px "Montserrat", sans-serif;
          margin-left: -3px;
          margin-bottom: 20px;
        }

        &-text {
          color: #666666;
          font: 400 18px "Varela Round", sans-serif;
          line-height: 27px;
        }
      }
    }
  }

  .TWA__gallery {
    padding: 0;

    &__container {
      display: flex;

      .TWA__gallery__block {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-grow: 1;
        flex-direction: column;

        &-photo {
          width: 100%;
          height: 100%;
        }

        &:hover .TWA__gallery__block-photo {
          transform: translateY(-38px);
          transition: transform 0.3s ease;
        }

        .TWA__gallery__block-response {
          align-items: center;
          background-color: #151515;
          color: #c2c2c2;
          font: 400 18px "Varela Round", sans-serif;
          line-height: 27px;
          display: none;
          width: 100%;
          height: auto;
          position: absolute;
          bottom: 0;
          right: 0;

          &-text {
            margin-bottom: 0;
          }

          &-likes {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            color: #f06464;

            &-counter {
              font-family: "Varela Round", sans-serif;
              font-size: 24px;
              font-weight: 400;
              font-style: normal;
              letter-spacing: normal;
              line-height: 27px;
              padding-left: 8px;
            }

            &-button {
              object-fit: cover;
              background-color: transparent;

              .TWA__gallery__block-response-likes-disable {
                display: block;
              }

              .TWA__gallery__block-response-likes-enable {
                display: none;
              }

              &.clicked {

                .TWA__gallery__block-response-likes-disable {
                  display: none;
                }

                .TWA__gallery__block-response-likes-enable {
                  display: block;
                }
              }
            }
          }
        }

        &:hover .TWA__gallery__block-response {
          padding: 30px;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
        }
      }
    }
  }
}