/* Banner */

.banner {
  max-width: 100%;
  margin: 0 !important;
  @include center-flex;
  background-color: $bg-color;

  .banner__slider {
    width: 100%;
    padding: 0;
    position: relative;

    .banner__slider-element-img {
      max-width: 100%;
      height: auto;
    }

    .slick-list {
      overflow: hidden;
    }

    /* Slider Dots setting`s */

    .slick-dots {
      position: absolute;
      @include center-flex;
      bottom: 5.5%;
      right: 50%;
      padding: 0;
      margin-right: -24px;
    }

    .slick-dots li {
      list-style: none;
      margin: 0 0.245em;
    }

    .slick-dots button {
      font-size: 0;
      padding: 0;
      @include size(12px, 12px);
      border: 2px solid $white;
      background-color: $transparent;
      border-radius: 50%;
    }

    .slick-active button {
      background-color: $white;
    }

    /* Banner Element setting`s */

    .banner__slider-element {
      width: 100%;
      padding: 0 15px;
      position: relative;
      @include center-flex;

      .banner__slider-element-caption {
        position: absolute;
        @include center-flex-column;
        top: 28%;
        padding-right: 18px;

        .banner__slider-element-caption-title {
          font: 600 $fs-extra-large $font-family-title;
          letter-spacing: -0.015em;
          color: $white;
          margin-bottom: 4.5rem;
        }

        .banner__slider-element-caption-btn {
          @include row-flex;

          .btn {
            @include center-flex;
            margin: 0 15px;
            color: $white;
            font: 400 $fs-large $font-family-base;
            @include size(257px, 77px);
            border-radius: 5px;
            border: 3px solid $white;

            &:hover {
              background-color: $banner-hover-rgba;
            }

            .banner__slider-element-caption-btn-img-app {
              margin-right: 14px;
            }

            .banner__slider-element-caption-btn-img-play {
              margin: 16px 18px 14px 3px;
            }
          }
        }
      }
    }
  }
}

/* Adaptive for banner */

@media (max-width: 1200px) {
  .banner {
    .banner__slider {
      .banner__slider-element {
        .banner__slider-element-caption {
          .banner__slider-element-caption-title {
            font-size: $fs-extra-medium-large;
            margin-bottom: 4rem;
          }

          .banner__slider-element-caption-btn {
            .btn {
              justify-content: center;
              font-size: $fs-medium;
              @include size(217px, 67px);

              .banner__slider-element-caption-btn-img-app {
                @include size(42px, 42px);
                margin-right: 9px;
              }

              .banner__slider-element-caption-btn-img-play {
                @include size(32px, 37px);
                margin: 11px 13px 9px 3px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .banner {
    .banner__slider {
      .banner__slider-element {
        .banner__slider-element-caption {
          padding: 0;

          .banner__slider-element-caption-title {
            font-size: $fs-brand;
            margin-bottom: 2.5rem;
          }

          .banner__slider-element-caption-btn {
            .btn {
              margin: 0 12px;
              font-size: $fs-lg-md;
              @include size(197px, 57px);

              .banner__slider-element-caption-btn-img-app {
                @include size(35px, 35px);
                margin-right: 6px;
              }

              .banner__slider-element-caption-btn-img-play {
                @include size(27px, 32px);
                margin: 9px 11px 7px 1px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .banner {
    .banner__slider {
      .slick-dots {
        margin-bottom: 0;
        bottom: 5.5%;
        margin-right: -24px;
      }

      .slick-dots li {
        list-style: none;
        margin: 0 0.245em;
      }

      .slick-dots button {
        font-size: 0;
        @include size(10px, 10px);
        border: 2px solid $white;
      }

      .slick-active button {
        background-color: $white;
      }

      .banner__slider-element {
        .banner__slider-element-caption {
          .banner__slider-element-caption-title {
            font-size: $fs-extra-small-large;
            margin-bottom: 2rem;
          }

          .banner__slider-element-caption-btn {
            .btn {
              padding: 0;
              font-size: 0;
              @include size(60px, 60px);
              border: 2px solid $white;

              .banner__slider-element-caption-btn-img-app {
                @include size(35px, 35px);
                margin: 0;
              }

              .banner__slider-element-caption-btn-img-play {
                @include size(30px, 32px);
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 667px) {
  .banner {
    .banner__slider {
      .banner__slider-element {
        .banner__slider-element-caption {
          .banner__slider-element-caption-title {
            font-size: $fs-extra-smaller-large;
            margin-bottom: 1rem;
          }

          .banner__slider-element-caption-btn {
            .btn {
              margin: 0 9px;
              @include size(50px, 50px);

              .banner__slider-element-caption-btn-img-app {
                @include size(30px, 30px);
                margin: 0;
              }

              .banner__slider-element-caption-btn-img-play {
                @include size(25px, 27px);
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 520px) {
  .banner {
    .banner__slider {
      .slick-dots button {
        width: 8px;
        height: 8px;
        border: 1.5px solid $white;
      }

      .slick-active button {
        background-color: $white;
      }

      .banner__slider-element {
        .banner__slider-element-caption {
          .banner__slider-element-caption-title {
            font-size: $fs-large;
            margin-bottom: 1rem;
          }

          .banner__slider-element-caption-btn {
            .btn {
              margin: 0 6px;
              @include size(40px, 40px);

              .banner__slider-element-caption-btn-img-app {
                @include size(25px, 25px);
                margin: 0;
              }

              .banner__slider-element-caption-btn-img-play {
                @include size(20px, 22px);
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 440px) {
  .banner {
    .banner__slider {
      .banner__slider-element {
        .banner__slider-element-caption {
          .banner__slider-element-caption-title {
            font-size: $fs-medium;
            margin-bottom: 0.25rem;
          }

          .banner__slider-element-caption-btn {
            .btn {
              margin: 0 3px;
              @include size(30px, 30px);
              border: 1px solid $white;

              .banner__slider-element-caption-btn-img-app {
                @include size(20px, 20px);
                margin: 0;
              }

              .banner__slider-element-caption-btn-img-play {
                @include size(15px, 17px);
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
}