/* Compatibility */

.compatibility {
  padding: 85px 0 120px 0;
  width: 100%;
  background-color: $bg-grey;

  &__container {
    max-width: 1200px;

    .compatibility__block {
      @include column-flex;
      padding: 0 8.545%;

      .compatibility__block-title {
        color: $grey;
        font: 600 $fs-lg-extra $font-family-title;
        border-bottom: 2px solid $border;
        padding-bottom: 22px;
        margin-left: -10px;
      }

      .compatibility__block-information {
        @include row-flex;
        justify-content: space-between;
        align-items: flex-start;
        color: $grey;
        padding-top: 24px;
        margin-left: -8px;

        h1 {
          font: 600 $fs-medium-small $font-family-title;
          margin-bottom: 2px;
        }

        p {
          font: 400 $fs-base $font-family-base;
          line-height: 24px;
          text-align: left;
          margin-bottom: 27px;
        }

        .compatibility__block-information-android {
          margin-right: 40px;

          p {
            margin-bottom: 34px;
          }
        }
      }
    }
  }
}

/* Adaptive for compatibility */

@media (max-width: 1200px) {
  .compatibility {
    .compatibility__container {
      max-width: 992px;

      .compatibility__block {
        .compatibility__block-information {
          p {
            font-size: $fs-smaller;
          }

          .compatibility__block-information-android {
            margin-right: 5px;
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .compatibility {
    .compatibility__container {
      max-width: 768px;

      .compatibility__block {
        .compatibility__block-information {
          flex-direction: column;

          p {
            margin-bottom: 20px;
          }

          .compatibility__block-information-android {
            padding-top: 36px;
            margin-right: 0;

            p {
              margin-bottom: 29px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .compatibility {
    .compatibility__container {
      max-width: 520px;
    }
  }
}

@media (max-width: 520px) {
  .compatibility {
    .compatibility__container {
      max-width: 320px;

      .compatibility__block {
        .compatibility__block-information {
          br {
            display: none;
          }

          p {
            font-size: $fs-extra-small;
          }
        }
      }
    }
  }
}