/* Share */

.share {
  padding-top: 72px;
  width: 100%;
  background-color: $bg-share;

  .share__container {
    max-width: 1200px;
    padding: 0 15px;
    color: $white;

    .share__block-phone {
      order: 1;
    }

    .share__block-text {
      order: 2;
      padding: 0;

      .share__block-text-caption {
        padding: 22% 25px 0 5px;

        .share__block-text-caption-title {
          font: 500 $fs-title $font-family-title;
          font-size: 48px;
          margin-bottom: 18px;
        }

        .share__block-text-caption-information {
          font: 400 $fs-medium-small $font-family-base;
          color: $grey-text;
          line-height: 27px;
          padding-right: 15px;
          margin-bottom: 30px;
        }

        .share__block-text-caption-slider {
          padding-top: 22px;

          .share__block-text-caption-slider-element {
            @include row-flex;
            justify-content: flex-start;

            .share__block-text-caption-slider-element-information {
              font: 400 $fs-base $font-family-base;
              color: $grey-text;
              margin-top: -5px;
              padding: 0 30px;
              line-height: 24px;
            }
          }

          .slick-list {
            overflow: hidden;
          }

          /* Slider Dots setting`s */

          .slick-dots {
            @include aligin-center-flex;
            padding: 20px 0 0;
          }

          .slick-dots li {
            list-style: none;
            margin: 0 0.245em;
          }

          .slick-dots button {
            font-size: 0;
            padding: 0;
            @include size(12px, 12px);
            border: 2px solid $white;
            background-color: $transparent;
            border-radius: 50%;
          }

          .slick-active button {
            background-color: $white;
          }
        }
      }
    }
  }
}

/* Adaptive for share */

@media (max-width: 1200px) {
  .share {
    padding-top: 66px;

    .share__container {
      max-width: 992px;

      .share__block-phone {
        .share__block-phone-img {
          @include size(456px, 613.7px);
        }
      }

      .share__block-text {
        padding: 0;

        .share__block-text-caption {
          padding: 24% 5px 0 25px;

          .share__block-text-caption-title {
            font-size: $fs-extra-small-large;
            margin-bottom: 18px;
          }

          .share__block-text-caption-information {
            font-size: $fs-base;
            line-height: 24px;
            padding-right: 15px;
            margin-bottom: 26px;
          }

          .share__block-text-caption-slider {
            padding-top: 20px;

            .share__block-text-caption-slider-element {
              .share__block-text-caption-slider-element-information {
                font-size: $fs-small;
                margin-top: -3px;
                margin-bottom: 0;
                padding: 0 0 0 20px;
                line-height: 20px;
              }

              .share__block-text-caption-slider-element-video {
                .share__block-text-caption-slider-element-img {
                  @include size(130px, 78px);
                }
              }
            }

            /* Slider Dots setting`s */

            .slick-dots {
              padding: 16px 0 0;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .share {
    padding-top: 56px;

    .share__container {
      max-width: 767px;

      .share__block-phone {
        .share__block-phone-img {
          @include size(406px, 513.7px);
        }
      }

      .share__block-text {
        padding: 0;

        .share__block-text-caption {
          padding: 25.5% 5px 0 5px;

          .share__block-text-caption-title {
            font-size: $fs-extra-smaller-large;
          }

          .share__block-text-caption-information {
            margin-bottom: 22px;
          }

          .share__block-text-caption-slider {
            padding-top: 16px;

            .share__block-text-caption-slider-element {
              .share__block-text-caption-slider-element-information {
                font-size: $fs-extra-small;
                margin-top: -3px;
                margin-bottom: 0;
                padding: 0 4px 0 12px;
                line-height: 18px;
              }

              .share__block-text-caption-slider-element-video {
                .share__block-text-caption-slider-element-img {
                  @include size(100px, 63px);
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .share {
    .share__container {
      max-width: 320px;

      .share__block-phone {
        @include center-flex;
        order: 2;

        .share__block-phone-img {
          @include size(320px, 363.7px);
        }
      }

      .share__block-text {
        order: 1;

        .share__block-text-caption {
          margin: 0 auto 45px;
          padding: 0 15px;

          .share__block-text-caption-title {
            font-size: $fs-title-medium-large;
          }

          .share__block-text-caption-information {
            font-size: $fs-smaller;
          }

          .share__block-text-caption-slider {
            .share__block-text-caption-slider-element {
              .share__block-text-caption-slider-element-information {
                font-size: $fs-extra-smaller;
                margin-top: -3px;
                margin-bottom: 0;
                padding: 0 4px 0 12px;
                line-height: 18px;
              }

              .share__block-text-caption-slider-element-video {
                .share__block-text-caption-slider-element-img {
                  @include size(100px, 63px);
                }
              }
            }
          }
        }
      }
    }
  }
}