/* TWA */

.TWA {
  padding-top: 66px;
  width: 100%;
  background-color: $white;

  &__container {
    .TWA__block {
      margin-bottom: 62px;

      &-information {
        margin-left: 25.35%;
        text-align: left;

        &-title {
          color: $pink;
          font: 600 $fs-title $font-family-title;
          margin-left: -3px;
          margin-bottom: 20px;
        }

        &-text {
          color: $grey;
          width: 435px;
          font: 400 $fs-medium-small $font-family-base;
          line-height: 27px;
        }
      }
    }
  }

  .TWA__gallery {
    padding: 0;

    &__container {
      display: flex;

      .TWA__gallery__block {
        position: relative;
        @include column-flex;
        justify-content: center;
        flex-grow: 1;

        &-photo {
          @include size(100%, 100%);
        }

        &:hover .TWA__gallery__block-photo {
          transform: translateY(-38px);
          transition: transform 0.3s ease;
        }

        .TWA__gallery__block-response {
          align-items: center;
          background-color: $bg-black;
          color: $light-grey;
          font: 400 $fs-medium-small $font-family-base;
          line-height: 27px;
          display: none;
          @include size(100%, auto);
          position: absolute;
          bottom: 0;
          right: 0;
          padding: 30px 15px;

          &-text {
            margin-bottom: 0;
          }

          &-likes {
            @include row-flex;
            justify-content: space-around;
            color: $pink;

            &-counter {
              font: 400 $fs-lg-extra $font-family-base;
              line-height: 27px;
              padding-left: 8px;
            }

            &-button {
              object-fit: cover;
              background-color: transparent;

              .TWA__gallery__b0lock-response-likes-disable {
                display: block;
              }

              .TWA__gallery__block-response-likes-enable {
                display: none;
              }

              &.clicked {
                .TWA__gallery__block-response-likes-disable {
                  display: none;
                }

                .TWA__gallery__block-response-likes-enable {
                  display: block;
                }
              }
            }
          }
        }

        &:hover .TWA__gallery__block-response {
          @include row-flex;
          justify-content: space-around;
        }
      }
    }
  }
}

/* Adaptive for TWA */

@media (max-width: 1400px) {
  .TWA {

    .TWA__gallery {

      &__container {

        .TWA__gallery__block {

          .TWA__gallery__block-response {
            padding: 30px 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .TWA {
    .TWA__gallery {

      &__container {

        .TWA__gallery__block {

          .TWA__gallery__block-response {
            padding: 20px 8px;

            p {
              font-size: $fs-smaller;
            }

            &-likes {
              img {
                @include size(22px, 18px);
              }

              &-counter {
                font-size: $fs-lg-md;
                padding-left: 4px;
              }
            }
          }
        }
      }
    }

    padding-top: 64px;

    &__container {

      .TWA__block {
        margin-bottom: 4%;

        &-information {
          margin-left: 22%;

          &-text {
            font-size: $fs-medium-small;
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .TWA {
    padding-top: 58px;

    &__container {

      .TWA__block {
        margin-bottom: 4.4%;

        &-information {
          margin-left: 20%;

          &-text {
            font-size: $fs-medium-small;
          }
        }
      }
    }
  }

  .TWA {

    .TWA__gallery {

      &__container {
        flex-wrap: wrap;
      }

      .TWA__gallery__block {
        flex-basis: 50%;

        .TWA__gallery__block-response {
          padding: 30px 25px;

          p {
            font-size: $fs-medium-small;
          }

          &-likes {
            img {
              @include size(25px, 21px);
            }

            &-counter {
              font-size: $fs-lg-extra;
              padding-left: 8px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .TWA {
    &__container {

      .TWA__block {
        margin-bottom: 5%;

        &-information {
          margin-left: 12%;

          &-title {
            font-size: $fs-title-medium-large;
            margin-bottom: 15px;
          }

          &-text {
            font-size: $fs-base;
            width: 400px;
          }
        }
      }
    }
  }
}

@media (max-width: 667px) {
  .TWA {

    .TWA__gallery {

      &__container {

        .TWA__gallery__block {

          .TWA__gallery__block-response {
            padding: 20px 8px;

            p {
              font-size: $fs-base;
            }

            &-likes {
              img {
                @include size(22px, 18px);
              }

              &-counter {
                font-size: $fs-lg-md;
                padding-left: 4px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 520px) {
  .TWA {

    .TWA__gallery {

      &__container {

        .TWA__gallery__block {

          .TWA__gallery__block-response {
            padding: 18px 8px;

            p {
              font-size: $fs-smaller;
            }

            &-likes {
              img {
                @include size(20px, 16px);
              }

              &-counter {
                font-size: $fs-small-medium;
                padding-left: 4px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .TWA {
    padding-top: 50px;

    &__container {
      max-width: 320px;

      .TWA__block {
        margin: 0 0 10% 0;

        &-information {
          margin: 0;

          &-title {
            font-size: $fs-title-small-large;
            margin-bottom: 14px;
          }

          &-text {
            font-size: $fs-smaller;
            line-height: 24px;
            width: 290px;
          }
        }
      }
    }
  }

  .TWA {

    .TWA__gallery {

      &__container {

        .TWA__gallery__block {
          flex-basis: 100%;

          &-photo {
            max-width: 100%;
            max-height: 100%;
          }

          .TWA__gallery__block-response {
            padding: 20px 8px;

            p {
              font-size: $fs-base;
            }

            &-likes {
              img {
                @include size(22px, 18px);
              }

              &-counter {
                font-size: $fs-lg-md;
                padding-left: 4px;
              }
            }
          }
        }
      }
    }
  }
}