/* Display position */
/* Flex */

@mixin row-flex {
  display: flex;
  flex-direction: row;
}

@mixin column-flex {
  display: flex;
  flex-direction: column;
}

@mixin aligin-center-flex {
  display: flex;
  align-items: center;
}

@mixin row-aligin-center-flex {
  @include row-flex;
  align-items: center;
}

@mixin center-flex {
  @include aligin-center-flex;
  justify-content: center;
}

@mixin space-between-flex {
  @include aligin-center-flex;
  justify-content: space-between;
}

@mixin center-flex-column {
  @include center-flex;
  flex-direction: column;
}

@mixin center-flex-row {
  @include center-flex;
  flex-direction: row;
}

/* Block size */

@mixin size($wsize, $hsize) {
  width: $wsize;
  height: $hsize;
}
@mixin border-bottom-radius($bblr,$bbrr) {
  border-bottom-left-radius: $bblr;
  border-bottom-right-radius: $bbrr;
}
